* {
    margin: 0px;
}
body {
    background-color: #202020;
}
header {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-bottom: 50px;
    text-align: center;
}
header h1 {
    color: lightgrey;
    font-family: "Quicksand", sans-serif; 
    line-height: 90px;
    font-size: 10vh;
    font-weight: 400;
    letter-spacing: 5px;
}
#canvas {
    position: relative;
    width:1000px;
    height: 600px;
    background-color: #111111;
    border: 8px solid #333333;
    margin: auto;
    cursor: crosshair;
}
#personaje {
    position: absolute;
    width: 13px;
    height: 13px;
    border: 3px solid lightgray;
    border-radius: 100%;
    background-color:;
}
#demo{
    color: white;
}